<md-dialog aria-label="termDialog" layout="column" layout-align="center center">
    <form ng-cloak>
        <div class="termDialog md-whiteframe-z1" layout="column">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2 style="color:blue">Question</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="vm.cancel()">
                        <md-icon>
                            <i class="material-icons">close</i>
                        </md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <md-content class="md-padding" layout="column">
                    <md-input-container>
                        <label>
                            Term
                        </label>
                        <md-select ng-model="vm.selectedDepartment">
                            <md-option>
                                GIS
                            </md-option>
                            <md-option>
                                FFS
                            </md-option>
                            <md-option>
                                CTO
                            </md-option>
                            <md-option>
                                RETAIL
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <label>
                            Term
                        </label>
                        <input type="text" ng-model="vm.term" placeholder="Enter your term..." />
                    </md-input-container>
                    <md-input-container>
                        <label>
                            Definition
                        </label>
                        <input type="text" ng-model="vm.definition" placeholder="Enter your definition..." />
                    </md-input-container>
                </md-content>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <md-button ng-click="vm.submitTermComplete()" class="md-primary md-raised">
                    Submit
                </md-button>
                <span flex></span>
            </md-dialog-actions>
        </div>
    </form>
</md-dialog>
