<md-dialog aria-label="quizDialog" layout="column" layout-align="center center">
    <form ng-cloak>
        <div class="quizDialog md-whiteframe-z1" layout="column">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Quiz</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="">
                        <md-icon>
                            <i class="material-icons">close</i>
                        </md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <md-content class="md-padding" layout="column">
                    
                </md-content>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <md-button ng-click="" class="md-primary md-raised">
                    Quiz
                </md-button>
                <span flex></span>
                <md-button ng-click="">
                    
                </md-button>
            </md-dialog-actions>
        </div>
    </form>
</md-dialog>
