body {
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
   background-color: transparent;
}
md-toolbar.md-default-theme:not(.md-menu-toolbar) md-icon, md-toolbar:not(.md-menu-toolbar) md-icon {
    color:rgba(0,0,0,0.54);
}

.logo-text{
   color:black;
}

.flashCard {
    margin:auto;
    text-align:center;
}

.helpful {
margin:auto;
width:100%;
position: absolute;
bottom:50px;
text-align:center;
}